.root {
  width: 100%;
  box-sizing: border-box;
  padding: 24px;
  flex-shrink: 0;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(
    --token-b27e3547-de99-4c7d-92e6-eee9fef695b5,
    rgba(186, 186, 186, 0.2)
  );
  opacity: 1;
}
